.flatpickr-calendar .flatpickr-range .flatpickr-day + .flatpickr-day:before {
    content: "-";
    color: #000 !important; /* Màu của dấu gạch ngang */
    font-weight: bold !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }